<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>{% block title %}Test Twiga{% endblock %}</h1>
            <div>
                {% block content %}{% endblock %}
            </div>
            <footer>
                {% block footer %}Copyrigths &copy; CodersLab{% endblock %}
            </footer>
    </body>
</html>